body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
}

.App {
  position: relative;
  top: 0;
}

.Tilt {
  width: 15%;
}

.container {
  display: flex;
  justify-content: center;
  margin: 1% 20% 0 20%;
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
